// main-header

$header_title_size: 1.6em;
$header_login_size: 1.2em;
$header_title_color: #aaaaaa;
$header_menu_color: #FF773E;
$header_menu_backgroundcolor: #fff;

// main-body

$body_title_size: 1.4em;
$body_name_size: 1.2em;
$body_task_size: 1em;
$body_border_size: 1px;
$body_border_color: #fff;
$body_backgroundcolor: #f6f6f6;


// menber-color

$menber_color: #fff;
$menber_backgroundcolor: #6927FF;

// group-color

$group_color: #fff;
$group_backgroundcolor: #136fff;

// project-color

$project_color: #fff;
$project_backgroundcolor: #13eeff;

// task-color
$task_color: #fff;

// taskA
$taskA_backgroundcolor:#ff3333;

// taskC
$taskC_backgroundcolor: #ffcc66;

