= render 'shared/header'
.index
  .menber-box
    .menber-box__title
      Menber Task list
    .menber-contens
      .menber-contens__name
        名前
      .menber-contens__taskA
        taskA
      .menber-contens__taskC
        taskC
    .menber-contens
      .menber-contens__name
        シンヤ
      .menber-contens__taskA
        設計変更
      .menber-contens__taskC
        内容変更
    .menber-contens
      .menber-contens__name
        タカシ
      .menber-contens__taskA
        現場調査
      .menber-contens__taskC
        図面作成
  .group-box
    .group-box__title
      Group Task list
    .group-contens
      .group-contens__name
        グループ
      .group-contens__taskA
        taskA
      .group-contens__taskC
        taskC
    .group-contens
      .group-contens__name
        東京G
      .group-contens__taskA
        契約
      .group-contens__taskC
        打ち合わせ資料作成
  .project-box
    .project-box__title
      Project Task list
    .project-contens
      .project-contens__name
        プロジェクト
      .project-contens__taskA
        taskA
      .project-contens__taskC
        taskC
    .project-contens
      .project-contens__name
        浜松町
      .project-contens__taskA
        強度計算
      .project-contens__taskC
        委託打ち合わせ
