.header{
  width:100vw;
  &__title{
    padding: 15px 0px 15px 20px;
    font-size: $header_title_size;
    color: $header_title_color;
  }

  &__login{
    @include clearfix();
    float:left;
    margin: 10px 0px 10px 10px;
    padding: 10px 5px;
    font-size: $header_login_size;
    color: $header_menu_color;
    background-color: $header_menu_backgroundcolor;
    border-width: 1px;
    border-color: $header_menu_color;
    border-style: solid;
    border-radius: 0.5em;
    position:absolute;
    top:2px;
    right:120px;
  }

  &__new{
    float: right;
    width: 4em;
    margin: 10px 20px 5px 5px;
    padding: 10px 5px;
    font-size: $header_login_size;
    color: $header_menu_color;
    background-color: $header_menu_backgroundcolor;
    border-width: 1px;
    border-color: $header_menu_color;
    border-style: solid;
    border-radius: 0.5em;
    position:absolute;
    top:2px;
    right:0px;
  }
}
